# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
# Contents inside .idea directory managed by .gitignore inside said directory

# gradle
build
.gradle

# other
eclipse
run
logs

# Forge runData cache
**/.cache/*

# Files from Forge MDK
forge*changelog.txt
